<main>
  <section id="section1">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/d_1.jpg" class="d-block w-100"  alt="...">
            <div class="carousel-caption">
              <h1 class="animated zoomIn" style="animation-delay: 1s">Welcome to Infinite Technologies</h1>
              <p class="animated fadeInUp" style="animation-delay: 2s">At Infinite Technologies, we are dedicated to manufacturing pharmaceutical products that bring health and vitality to people's lives. With a decade of experience and a commitment to excellence, we strive to make a positive impact on the healthcare industry.<br><br>#SwasthyaShakti</p>
              <p class="animated zoomIn" style="animation-delay: 3s"><a href="#section2" style="text-decoration: none;" id="more-info-button">More Info</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/d_2.jpg" class="d-block w-100"  alt="...">
            <div class="carousel-caption">
              <h1 class="animated zoomIn" style="animation-delay: 1s">Dedicated To Hope</h1>
              <p class="animated fadeInUp" style="animation-delay: 2s">At Infinite Technologies, we are Dedicated to Hope. We believe that through innovative pharmaceutical solutions and unwavering commitment, we can inspire hope for a healthier, brighter future. Our mission is to make a positive impact on healthcare and bring optimism to every life we touch.<br><br>#UmeedSeSajag</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/d_3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h1 class="animated zoomIn" style="animation-delay: 1s">Your Trusted Healthcare Partner</h1>
              <p class="animated fadeInUp" style="animation-delay: 2s">As your trusted healthcare partner, we prioritize your health and safety. Our pharmaceuticals are produced with the utmost care and adhere to the highest quality standards. We're here to support your journey to a healthier life.<br><br>#SehatKeSathi</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <div class="container">
    <section id="section2">
      <h2 class="what">WHAT WE DO?</h2>
      <p class="whatwedo">We are a prominent wholesale pharmaceutical manufacturer, renowned for our wide range of high-quality medicines that have made a significant impact across the state of Bihar. With a steadfast commitment to excellence, we have earned the trust and confidence of numerous healthcare professionals, including esteemed doctors. Our extensive portfolio of pharmaceutical products reflects our dedication to providing reliable and effective solutions for a healthier Bihar. At the heart of our mission is the well-being of the communities we serve, and we take pride in contributing to a healthier and more vibrant future for all.</p>        
    </section>
  </div>
</main>