{% extends 'base.html' %}

{% block content %}
<main class="products_category">
    <div class="wrapper">
    <div class="whatwedoline">
        <h2>Our Products</h2>
        <p><h4>We have our products in different creative fields!!</h4></p>
    </div>
    </div>
    {% for n in productcategoryData %}
    <section id="product_categories" class="product_categories">
        <div class="row_product_category">
            <div class="left">
                <a href="/{{n.external_category_link}}/"  class="category-link">
                <img src="/media/{{n.product_category_img}}" alt="">
                </a>
            </div>
            <div class="right">
                <a href="/{{n.external_category_link}}/"  class="category-link">
                <div class="content">
                    <p class="category_title"><h5><b>{{n.product_category_title}}</b></h5></p>
                    <p>{{n.product_category_desc}}</p>  
                </div>
                </a>
            </div>
        </div>
    </section>
    {% endfor %}
</main>
    <main>
        <div class="wrapper" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
            <h5 style="margin: 0;"><b>Feel free to reach out to us</b> at any time for inquiries or requests regarding <b>custom 3D models</b>. <a href="/contact/" class="Product_Link">Click Here to Contact us.</a></h5>
        </div>
    </main>
    <main>
        <div class="wrapper">
            <h5 style="margin: 0;"><b><center>OR</center></b></h5>
        </div>
    </main>
    <main>
        <div class="wrapper" style="display: flex; flex-direction: column; align-items: center; text-align: center;" id="Whatsappintegration">
            <h5><b>Directly Contact Us Through Whatsapp</b></h5>
            <a href="https://wa.me/+918310572400?text=I'm%20interested%20in%20your%20Product%20.%20Can%20I%20have%20more%20details%20" style="text-decoration: none;">
                <img src="/media/img/WhatsAppButtonGreenLarge.png" alt="" style="width: 100%; max-width: 250px; display: block; height: auto; margin: 10px auto;">
            </a>
        </div> 
    </main>
{% endblock content %}
